<h1>Hey write something!</h1>
<form class="" action="/reviews" method="post">
  <!-- <label for="movie">Movie</label> -->
  <h3><%= @movie.title %></h3>
  <label for="content">Your Review:</label><br>
  <textarea type="textarea" name="content" rows="10" columns="30" value=""></textarea><br>
  <input type="radio" name="score" value="1" > 1<br>
  <input type="radio" name="score" value="2" > 2<br>
  <input type="radio" name="score" value="3" checked> 3<br>
  <input type="radio" name="score" value="4" > 4<br>
  <input type="radio" name="score" value="5" > 5<br>
  <input type="submit" name="" value="Submit Your Review">
</form>
